* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: white;
}

nav a {
    text-decoration: none;
    color: black;
}

nav h1 {
    font-size: 32px;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .logo img {
    width: 30px;
    height: 30px;
}

nav .search button {
    background-color: transparent;
    border: 2px solid #FCA311;
    cursor: pointer;
    padding: 0.3rem 1.1rem;
    border-radius: 5px;
    font-size: 22px;
}

nav .search button:hover {
    transition: all 0.5s ease;
    background-color: #FCA311;
    color: white;
}

@media screen and (max-width: 400px) {
    nav {
        padding: 0.5rem;
    }
    nav .logo {
        gap: 0.5rem;
    } 
    nav h1 {
        font-size: 23px !important;
    }
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.middle h2 {
    margin-bottom: 0.7rem;
}

.middle .middle-img {
    height: 727px;
    width: 637px;
}

.middle-img img {
    width: 100%;
    height: 100%;
}

.coins {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.coins h2 {
    color: #FCA311;
    text-align: center;
    margin-bottom: 1rem;
}

.coins .coins-cont {
    display: flex;
    gap: 1rem;
}

.coins .coins-cont .card {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0rem 4rem 0rem 2rem;
    background-color: white;
    cursor: pointer;
}


.coins .coins-cont .card:hover {
    transition: all 1s ease-in-out;
    transform: scale(1.1);
}

.coins .coins-cont .card .coin-info {
    width: 10rem;
}

.coins .coins-cont .card img {
    width: 40px;
    height: 40px;
}

.coins .coins-cont .card .coin-name {
    font-size: 24px;
    font-weight: 600;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    margin-top: 4rem;
}

footer img {
    width: 25px; 
    height: 25px;
}

